{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
About Us
{% endblock %}
{% block app_content %}
<div class="container">
{% if session['lang'] == 'ar_TN' or session['lang'] == 'ar' %} 
    <div class="jumbotron" style="background: url('static/sididoor3.jpg'); background-size: cover;" class="responsive">
{% else %}
    <div class="jumbotron" style="background: url('static/sididoor2.jpg'); background-size: cover;" class="responsive">
{% endif %}
        <div style="width: 50%; align: left;">
        <h1 class="display-4">{{ _('About Tunisia Today') }}</h2>
      <p class="lead">
{{ _('We are a team of researchers and practitioners from Tunisia, the UK and the US. We are studying what Tunisians value in life.') }}
 
{{ _('Participants in this study will complete four activities:')}}
</p>
<p>
<ol> 
    <li>{{ _('Take a preliminary survey') }}</li>
 
    <li>{{ _('Watch three, three minute videos') }}</li>
 
    <li>{{ _('Write a short essay (500 words)') }}</li>

    <li>{{ _('Take a follow up survey') }}</li>
 
</ol>
<p>
{{ _('Participants will complete the first three activities will be completed today. This will take between 30 and 45 minutes of your time. The follow-up survey will be sent to you by email or text message     between one and three weeks later. It will take between 10 and 15 minutes to complete.') }}
</p>
<p>
{{ _('Your participation is very helpful and we value your answers and your time. To say “thanks,” we automatically enter everyone who completes all four activities into a lottery to win one of 10 Netflix subscriptions.') }}
</p>
<p>
{{ _('Participation in this study is capped at 10,000 people. This means that you have a 1 in 1,000 odds of winning a Netflix subscription. The odds get even better if some people drop out or don’t complete all four activities.') }}
</p>
    <p class="lead">
{{ _('If you would like to discuss this research, please e-mail') }}  <a href="mailto:admin@tunisiatoday.org">admin@tunisiatoday.org</a> {{ _(' or click "About" above to learn more.') }}
    </p>
    </div>
</div>
{% endblock %}
