{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
{{ _('Page 3 of 3') }}
{% endblock %}
{% block app_content %}
<div class="container">
    <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
    {{ wtf.form_field(form.ed) }}
    {% for error in form.ed.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    </p>
    <p>
    {{ wtf.form_field(form.reg) }}
    {% for error in form.reg.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    </p>
    <p>
    {{ wtf.form_field(form.loc) }}
    {% for error in form.loc.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    </p>
    <p>
    {{ wtf.form_field(form.phone) }}
    {% for error in form.phone.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    </p>
    <p>
    <input type="submit" value="{{ _('Proceed to the Tunisia Today Study') }}" class="but btn-primary">
({{ _('You will be redirected immediately to the study') }}).
    </p>
</form> 
</div>
{% endblock %}
